.buttoncom {
  margin-right:13%;
  margin-left:13%;
  margin-top:5%;
}

.button1 {
  margin-top:10%;
  margin-left:12%;
  background-color: white; 
  color: black; 
  border: 2px solid slategray;
}

.button1:hover {
  background-color: slategray;
  color: white;
}

.button2 {
  background-color: white; 
  margin-left:-10px;
  color: black; 
  border: 2px solid slategray;
  width: 33%;
  height:40px;
  font-size: 16px;
  font-family: Family-Guy;
}

.button2:hover {
  background-color: slategray;
  color: white;
}
.button3{
  background-color: white; 
  margin-left:-10px;
  color: black; 
  border: 2px solid slategray;
}
.button3:hover{
  background-color: slategray;
  color: white;
}
.chenar {
      border-style: groove;
      background: slategrey;
      margin-left:12%;
      margin-right:14%;
      margin-top:-5px;
      border: 2px solid slategray;
      overflow-y: scroll;
      max-height: 433px;
}
.chenarcom{
  border-style: groove;
  background: grey;
  margin-top:1%
  
}
.chenarcomutiz{
  margin-left: 1%;
  font-family: Chunk Five Print;
  font-size:25px;
  display:inline;
}

.chenarcomcom{
  margin-left:1%;
  margin-left:1%;
  font-family: Chunk Five Print;
  color:#333333;
  padding: 10px;
  
}
.chenarcomdata{
  margin-right: 1%;
  margin-left:1%;
  font-family: Chunk Five Print;
  display:inline;
  color:lightgrey;
 
}

.comment {
  margin-left:1%;
  margin-right:1%;
  margin-top:1%;
  border-style: groove;
  background: darkgrey;
  min-height:50px;
  display: none;
}
.comment:first-of-type {
  display: block;
}
.comment input[type = "text"]{
  border: none;
  background: transparent;
  outline: none;
  color: black;
  font-size: 16px;
}
input{
  width: 100%;
  
}

.comment2 {
  
  background: darkgrey;
  
}
