body{
    margin: 0;
    padding: 0;
    background: url(../images/carusel4.jpg);
    font-family: Family-Guy;
    background-size: cover;
    background-position:center top;
}
.signIn-box {
    width: 320px;
    height: 420px;
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    width: 350px;
    height: 420px;
    padding: 70px 30px;

}

.logo{
    width: 70px;
    height: 70px;
    border: 90%;
    position: fixed;
    top: -4px;
    left: 140px;

}

h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
    color: #fdfdfd;
}

.signIn-box p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.signIn-box a{
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #878888;
}

.signIn-box input{
    width: 100%;
    margin-bottom: 20px;
}

.signIn-box input[type = "text"], input[type = "password"], input[type = "password"], input[type="text"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.signIn-box input[type = "submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: rgb(204, 4, 4);
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

divanimation {
    width: 100px;
    height: 100px;
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    font-family: Family-Guy;
    font-size: 40px;
    color:white;
  }
  
  @keyframes example {
    0%   { left:0px; top:0px;}
    25%  { left:200px; top:0px;}
    50%  { left:200px; top:200px;}
    75%  { left:0px; top:200px;}
    100% { left:0px; top:0px;}
  }

  .containerAnimation {
      float:left;
      text-align: center;
  }