/*https://codeburst.io/how-to-pure-css-pie-charts-w-css-variables-38287aea161e*/
/*PIE CHART*/
.pie{
    background: grey;
    margin:50px 0px 10px 80px;
    border-radius: 100%;
    height:calc(var(--size,200)*1px);
    position:relative;
    width:calc(var(--size,200)*1px);
    overflow:hidden;
}
.pieSegment{
    --a :calc(var(--over50, 0) * -100%);
    --b :calc((1 + var(--over50, 0)) * 100%);
    --degrees :calc((var(--offset, 0) / 100) * 360);
    -webkit-clip-path :polygon(var(--a) var(--a), var(--b) var(--a), var(--b) var(--b), var(--a) var(--b));
    clip-path: polygon(var(--a) var(--a), var(--b) var(--a), var(--b) var(--b), var(--a) var(--b));
    height :100%;
    position: absolute;
    transform: translate(0, -50%) rotate(90deg) rotate(calc(var(--degrees) * 1deg));
    transform-origin: 50% 100%;
    width: 100%;
    z-index: calc(1 + var(--over50));
}
.pieSegment:after,
.pieSegment:before{
    background:var(--bg, #e74c3c);
      content: '';
      height: 100%;
      position: absolute;
      width: 100%;
}
.pieSegment:before{
    --degrees: calc((var(--value, 45) / 100) * 360);
      transform: translate(0, 100%) rotate(calc(var(--degrees) * 1deg));
      transform-origin: 50% 0%;
}
.pieSegment:after{
    opacity :var(--over50, 0);
}

@font-face { font-family:  Chunk Five Print; src: url('../fonts/Chunk Five Print.otf'); } 

.descriere {
    padding: 15px;
    text-align: center;
    font-family: Chunk Five Print; 
  }


/*BAR CHART*/
/*http://www.coding-dude.com/wp/html5/bar-chart-html/*/
.chart-wrap{
  margin-left:50px;
  font-family:sans-serif;
  height:300px;
  width:650px;
}

  .chart-wrap.title{
    font-weight:bold;
    font-size:1.62em;
    padding:0.5em 0 1.8em 0;
    text-align:center;
    white-space:nowrap;
    font-family: Chunk Five Print; 
  }

  .chart-wrap.vertical .grid{
    transform:translateY(300px/2 - 650px/2) translateX(650px/2 - 300px/2) rotate(-90deg);
    
  }
  .chart-wrap.vertical .grid.bar::after{
      transform: translateY(-50%) rotate(45deg);
      display: block;
    }
    .chart-wrap.vertical .grid::before,
    .chart-wrap.vertical .grid::after{
      transform:translateX(-0.2em) rotate(90deg);
    }
  
    .chart-wrap.vertical.grid{
    position:relative;
    padding:5px 0 5px 0;
    height:100%;
    width:100%;
    border-left:2px solid #aaa;
    
    background:repeating-linear-gradient(90deg,transparent,transparent 19.5%,fadeout(#aaa,30%) 20%);
  }  
  .chart-wrap.vertical.grid::before{
      font-size:0.8em;
      font-weight:bold;
      content:'0%';
      position:absolute;
      left:-0.5em;
      top:-1.5em;
    }
    .chart-wrap.vertical.grid::after{
      font-size:0.8em;
      font-weight:bold;
      content:'100%';
      position:absolute;
      right:-1.5em;
      top:-1.5em;
    }
  
  
  
  .bar {
    width: var(--bar-value);
    height:50px;
    margin:30px 0;    
    background-color:#F16335;
    border-radius:0 3px 3px 0;
  } 
  .bar:hover{
      opacity:0.7;
    }
    
    .bar::after{
      content:attr(data-name);
      margin-left:100%;
      padding:10px;
      display:inline-block;
      white-space:nowrap;
    }

