.chenarTurneu{
    background: slategray;
    margin-left:5%;
    margin-right:5%;
    border-bottom: 2px solid #d6d6c2;
    /*text-align: center;*/
    font-family: Chunk Five Print;
    margin-bottom: 3%;
}

h1.titluTurneu{
    font-family: Chunk Five Print;
    font-size: 33px;
    display: inline;
    margin-left: 10px;
    border-bottom: 1px solid #d1d1e0;
    
}
.numeCreator{
    font-family: Chunk Five Print;
    font-size:14px;
    color:#d6d6c2;
    display: inline;
    margin-left: 10px;    

}
.infos{
    font-family: Chunk Five Print;
    font-size:16px;
    margin-left: 10px;    
    display:inline;
}

.button{
	font-family: Family-Guy;
	font-size: 20px;
	padding: 5px 10px;
	border-radius: 2px;
	color:black;
	text-decoration: none;
	text-shadow: 1px 1px 1px #fff;
	cursor: pointer;
	transition: all 0.2s ease-out;
}
.button[target=participa]{
    background-color: #00b386;
}

.button[target=nuparticipa]{
    background-color: #cc0000;
}

