.chenarTurneu{
    background: slategray; 
     margin-left: 2%; 
    margin-right: 2%; 
    font-family: Chunk Five Print;
    margin-bottom: 3%;
    box-shadow: 10px 10px 5px grey;

}
.chenarTurneu:hover{
    transform: scale(1.01,1.01);
    box-shadow: 10px 10px 5px grey;
    background-color: #596673;
}
h1.titluTurneu{
    font-family: Chunk Five Print;
    font-size: 33px;
    display: inline;
    margin-left: 10px;
    border-bottom: 1px solid #d1d1e0;
    
}
.numeCreator{
    font-family: Chunk Five Print;
    font-size:14px;
    color:#d6d6c2;
    display: inline;
    margin-left: 10px;    

}
.infos{
    font-family: Chunk Five Print;
    font-size:15px;
    margin-left: 10px;    
    display:inline;
}

.buttonJOIN{
	font-family: Family-Guy;
	font-size: 20px;
	padding: 5px 10px;
	border-radius: 2px;
	color:black;
    background-color: white;
	text-shadow: 1px 1px 1px #fff;
    /*display: inline;*/
    margin-right:2%;
    margin-top:2%;
    float:right;
    width:17%;
}

.buttonJOIN:hover {
    transform: scale(1.2,1.2);
}

